BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: MultiLine
  SplitEmptyRecord: false
  SplitEmptyFunction: false
AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
IndentWidth: 2
UseTab: Never
Standard: Latest
PointerAlignment: Left
NamespaceIndentation: None
IndentCaseLabels: false
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: AlwaysBreak
